<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recamovie</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <section class="text-gray-400 bg-gray-900 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Rec a Movie</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">For the times when your food is getting cold and you need something quick :)</p>
          </div>
          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="movieInput" class="leading-7 text-sm text-gray-400">Recommend me ...</label>
                  <textarea id="movieInput" name="movieInput" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-pink-500 focus:bg-gray-900 focus:ring-2 focus:ring-pink-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                </div>
              </div>
              <div class="p-2 w-full">
                <button id="findMovie" class="flex mx-auto text-white bg-pink-500 border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg">Find Movies</button>
              </div>
            </div>
          </div>
        </div>
        <div class="h-1/6 w-4/12 border-2 rounded-lg m-auto">
          <div class="flex font-serif">
            <div class="flex-none w-52 relative">
              <img src="https://m.media-amazon.com/images/M/MV5BMmMzOWNhNTYtYmY0My00OGJiLWIzNDUtZWRhNGY0NWFjNzFmXkEyXkFqcGdeQXVyNjUxMDQ0MTg@._V1_.jpg" alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" loading="lazy" />
            </div>
            <div class="flex-auto p-6">
              <div class="flex flex-wrap items-baseline">
                <h1 class="w-full flex-none mb-3 text-2xl leading-none">
                  Perfect Blue
                </h1>
                <div class="flex-auto text-lg font-medium text-slate-500">
                  $350.00
                </div>
                <div class="text-xs leading-6 font-medium uppercase text-slate-500">
                  In stock
                </div>
              </div>
              <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
              </div>
              <div class="flex space-x-4 mb-5 text-sm font-medium">
                <div class="flex-auto flex space-x-4 pr-4">
                  <p>A pop singer gives up her career to become an actress, but she slowly goes insane when she starts being stalked by an obsessed fan and what seems to be a ghost of her past.
                  </p>
                </div>
                <button class="flex-none flex items-center justify-center w-12 h-12 text-slate-300 border border-slate-200" type="button" aria-label="Like">
                  <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <script type="module" src="/public/script.js"></script>
</body>
</html>